page-buddies {
  .searchbar {
    background: white;
  }
  .btncolor {
    color: #5b5ef4;
    font-size: medium;
    background-color: transparent;
  }

  .card-header-md {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .card-title-md {
    font-size: 2rem;
  }

  button {
    margin-top: 4px;
    padding-top: 4px;
    padding-bottom: 8px;
  }
}
